.NewsItem {
  display: flex;
}

.NewsItem .thumbnail {
  margin-right: 1rem;
}

.NewsItem .thumbnail img {
  display: block;
  width: 160px;
  height: 100px;
  object-fit: cover;
}

.NewsItem .contents h2 {
  margin: 0;
}

.NewsItem .contents h2 a {
  color: black;
}

.NewsItem .contents p {
  margin: 0;
  line-height: 1.5;
  margin-top: 0.5rem;
  white-space: normal;
}

.NewsItem + .NewsItem {
  margin-top: 3rem;
}
