.Category {
  white-space: pre;
  cursor: pointer;
  color: inherit;
  padding-bottom: 0.25rem;
}

.Category a {
  font-size: 1.125rem;
  text-decoration: none;
  transition: 0.4s;
}

.Category a:visited {
  color: #333;
}

.Category a:hover {
  display: inline-block;
  transform: scale(1.2);
}

.Category + .Category {
  margin-left: 1rem;
}
